# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env/
*env/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dist/ directory (commonly used for distribution files)
dist/

# Ignore .cache files and directories (commonly used by various tools)
*.cache
*.cache/

# Ignore .idea directory (created by JetBrains IDEs)
.idea/

# Ignore .vscode directory (created by Visual Studio Code)
.vscode/

# Ignore __pycache__/ directory (created by Python)
__pycache__/

# Ignore ipynb files with name starting as scratchpad
scratchpad*.ipynb
