@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Anybody", sans-serif;
}

/* LOGO BAR */

.logo-container {
    padding: 48px 138px;
    background-color: #DDE4E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.user-email {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.email-input {
    padding: 12px;
    border: 0;
    background-color: #f0f0f0;
    border-radius: 10px;
}


.logo h3 {
    display: flex;
    align-items: center;
}

.logo-icon {
    font-size: 42px;
    margin-right: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid black;
    background-color: #f0f0f0;
}

.stock-pulse {
    font-size: 24px;
    font-weight: bold;
}

/* HEADER */

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 24px;
    background-color: #DDE4E5;
}

.top h1 {
    font-size: 48px;

}

.top p {
    font-size: 16px;
}

.tagline {
    line-height: 22.4px;
    letter-spacing: 0.5px;
    width: 500px;
}

/* INPUT */

.input-bar {
    display: flex;
    background-color: #DDE4E5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 10vh;
    padding-bottom: 128px;
}
.select-container {
    min-width: 300px;
}

.input-bar form {
    display: flex;
    flex-direction: row;
    outline: 0;
    border: 0;
    font-family:"Anybody", sans-serif;
}


.input-bar input {
    padding: 24px 32px;
    outline: 0;
    border: 0;
    font-family:"Anybody", sans-serif;
}

.email-input {
    font-family:"Anybody", sans-serif;
}
.input-bar button {
    border: 0;
    padding: 24px 16px;
    background-color: black;
    color: #f0f0f0;
    font-family:"Anybody", sans-serif;
    border-radius: 0 10px 10px 0;
}

.ticker {
    border-radius: 10px 0 0 10px;
}

/* DASHBOARD HEADING */
.dashboard-container {
    padding: 64px 138px;
}

.dashboard-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.your-dashboard {
    font-size: 32px;
    margin-right: 8px;
   
 
}

.investor-relation {
    font-size: 12px;
    font-weight: 200;
    padding: 4px 10px;
    background-color: #F3F4F8;
    border-radius: 10px;
}
.heading-button {
    display: flex;
    gap: 12px; 
}
.heading-button button {
    padding: 12px 16px;
}

.download {
    border: 0.2px solid #d5d5d5;
    border-radius: 5px;
    background-color: #fff;
}

.add {
    border: 0;
    background-color: black;
    color: #f0f0f0;
    border-radius: 5px;
}

.dashboard-table {
    width: 100%;
    display: flex;
    margin-top: 48px;
    justify-content:space-between;
    gap: 300px;   
}


/* DASHBOARD TABLE */

.table-container {
    width: 80%;
}

table {
    font-family:"Anybody", sans-serif;
    border-collapse: collapse;
    border: 1px solid #E4E7EC;
    border-radius: 10px;
  }
  tr {
    align-items: center;
  }
  
  td, th {
    text-align: left;
    padding: 32px;
  }

  th {
    font-size: 12px;
    font-weight: 500;
  }
  td {
    font-size: 14px;
    font-weight: 400;
  }
  
  tr:nth-child(even) {
    background-color: #F9FAFC;
  }

  .td-name {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  .symbol {
    color: #5D6979;
    font-size: 12px;
  }
/* LATEST WARNING */

.warning-container {
    width: 100%;
}


.prediction-positive {
    color: green;
  }
  
  .prediction-negative {
    color: red;
  }

  .warning-ticker {
    font-size: 24px;
  }

  .summary-earnings {
    color: #5D6979;
  }

  

  





